<ul class='nav'>
  <% collection.each do |item, children| %>
    <div>
      <li class='nav-item'>
        <% if children.blank? && @workbook.visible_lessons.include?(item.id) %>
          <a href="/workbooks/<%= params[:id] %>/lessons/<%= item.id %>/practice"
             class="tooltip tooltip-right"
             data-tooltip="已解锁，猛击前往练习">
             <%= item[:title] %>
           </a>
        <% elsif children.blank? %>
          <a href="#" class="tooltip tooltip-right" data-tooltip="前一章节达到 90 以上才能解锁"><%= item[:title] %></a>
        <% else %>
          <%= item[:title] %>
        <% end %>
      </li>
    </div>

    <% if children.present? %>
      <div>
        <%= render 'item', collection: children %>
      </div>
    <% end %>
  <% end %>
</ul>
