<style>
  .card {
    margin-bottom: 10px;
  }

  .card-action {
    margin-left: 15px;
  }

  .card-action .skin-section .error {
    border: 1px dotted red;
  }

  .card-action .field {
    margin: 5px;
  }

  .exam-content {
    margin: 0 auto;
  }
</style>

<style type="text/css" media="print">
  @page {
    size:  auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }

  html {
    background-color: #FFFFFF;
    margin: 0px;  /* this affects the margin on the html before sending to printer */
  }

  body {
    margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */
  }

  #back-to-workbook {
    visibility: hidden;
  }
</style>

<div class='container'>
  <div class="ui fixed inverted menu" style="background: rgb(26, 188, 156); height: 52px;">
    <div class="ui container">
      <a href="/workbooks/<%= params[:workbook_id] %>" id="back-to-workbook" class="header item router-link-active" style="border: none;"><span class="logo-name" style="padding-left: 5px;">回到练习册</span>
      <a href="#" class="header item router-link-active" style="border: none;"><span class="logo-name" style="padding-left: 5px;"><%= @workbook.textbook.title %></span>
      </a>
      <div class="right header item">
        <div class="ui hidden divider"></div>
        <div id="userinfo_dropdown" class="ui floating dropdown button" tabindex="0"><i class="user icon"></i>
          <div id="studentname" style="display: inline;"><%= current_user.name %></div> <i class="dropdown icon" tabindex="0">
            <div class="menu" tabindex="-1"></div></i>
          <div class="menu" tabindex="-1">
            <a href="/sign_out" class="item"><i class="sign out icon"></i> 注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="app-main" style="min-height: 100%;">
    <div id="exam_wrapper" class="ui stackable two column vertically divided grid container">
      <div class="row">
        <div class="twelve wide column exam-content">
          <div class="ui segment"><span id="exam_title"><%= "#{@lesson.parent.title} - #{@lesson.title}" %></span></div>

          <div class="ui segment question transition visible" style="display: block !important;">
            <% @questions.each_with_index do |q, i| %>
            <% question = q.question %>
              <div id="question-1" class="card">
                <div class="card-content">
                  <p><%= i + 1 %>：<%= question.title %>&nbsp; <%= q.correct? ? '✔' : '╳' %></p>
                </div>
                <div class="card-action">
                  <div class="skin skin-square">
                    <div class="skin-section">
                      <% question.options.each_with_index do |option, index| %>
                        <div class="field <%= (option.id.in?(q.choices) && !q.correct?) ? "error" : '' %>">
                          <label>
                            <input type="checkbox" disabled <%= option.correct? ? "checked" : "" %>>
                            <%= option.content %>
                          </label>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="ui segment">
            <p>练习日期：<%= @result.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %>，正确率：<%= @result.score %>%</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<script>
  $(() => {
    $('.dropdown').dropdown()
  })
</script>
