<style>
  .chapter .action {
     visibility: hidden;
  }

  .chapter:hover .action {
     visibility: visible;
  }
</style>

<ul>
<% collection.each do |item, children| %>
  <div>
    <li class='chapter'>
      <%= item[:title] %>
      <%= link_to '编辑', edit_chapter_path(item), class: 'action' %>
      <%= link_to '删除', chapter_path(item), method: :delete, remote: true, data: { confirm: "删除?" }, class: 'action' %>
      <% if children.present? %>
        <%= link_to '排序', chapter_sort_path(item), class: 'action' %>
      <% end %>
    </li>
  </div>

  <% if children.present? %>
    <div>
      <%= render 'item', collection: children %>
    </div>
  <% end %>
<% end %>
</ul>
